<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row py-4">
        <div class="col-md-4">
          <figure class="logo text-center p-3">
            <a routerLink="/home">
              <img
                src="assets/img/logo-white.svg"
                alt="logo essar health care white"
              />
            </a>
          </figure>
          <div class="social-links mt-3 text-center">
            <a href="#" class="twitter fs-4 text-light px-2"
              ><i class="bi bi-twitter"></i
            ></a>
            <a href="#" class="facebook fs-4 text-light px-2"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="#" class="instagram fs-4 text-light px-2"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="#" class="linkedin fs-4 text-light px-2"
              ><i class="bi bi-linkedin"></i
            ></a>
          </div>
        </div>

        <div class="col-md-2 my-3">
          <h4 class="text-light text-center text-md-start">Certification</h4>
          <div class="mt-4 text-center text-md-start">
            <a routerLink="/home">
              <img src="assets/img/logo-nrf.svg" alt="logo-nrf-certification" />
            </a>
          </div>
        </div>

        <div class="col-md-3 footer-links my-3">
          <h4 class="text-light text-center text-md-start">Connect Us</h4>
          <ul class="list-unstyled mt-4 text-center text-md-start">
            <li class="text-light align-middle pb-3">
              <a class="text-light text-decoration-none" href="tel:0894416523">
                <i class="bi pe-2 bi-telephone fs-4"></i>
                0894416523
              </a>
            </li>
            <li class="text-light">
              <a
                class="text-light text-decoration-none"
                href="mailto:info@essarhealthcare.ie"
              >
                <i class="bi bi-envelope pe-2 fs-4"></i
                >info@essarhealthcare.ie</a
              >
            </li>
          </ul>
        </div>

        <div class="col-md-3 footer-links text-center text-md-start my-3">
          <h4 class="text-light">Sitemap</h4>
          <div class="row text-light">
            <ul class="col-6 list-unstyled mt-2">
              <li>
                <a
                  class="text-light text-decoration-none text-capitalize"
                  routerLink="/home"
                  routerLinkActive="active"
                  >Home</a
                >
              </li>
              <li>
                <a
                  class="text-light text-decoration-none text-capitalize"
                  routerLink="/jobs"
                  routerLinkActive="active"
                  >Jobs/Profession</a
                >
              </li>
              <li>
                <a
                  class="text-light text-decoration-none text-capitalize"
                  routerLink="/recruitment"
                  routerLinkActive="active"
                  >Recruitment</a
                >
              </li>
              <li>
                <a
                  class="text-light text-decoration-none text-capitalize"
                  routerLink="/e-learning"
                  routerLinkActive="active"
                  >E-learning</a
                >
              </li>
            </ul>
            <ul class="col-6 list-unstyled mt-2">
              <li>
                <a
                  class="text-light text-decoration-none text-capitalize"
                  routerLink="/about-us"
                  routerLinkActive="active"
                  >About Us</a
                >
              </li>
              <li>
                <a
                  class="text-light text-decoration-none text-capitalize"
                  routerLink="/contact-us"
                  routerLinkActive="active"
                  >Contact Us</a
                >
              </li>
              <li>
                <a
                  class="text-light text-decoration-none text-capitalize"
                  routerLink="/home"
                  routerLinkActive="active"
                  >Privacy policy</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container py-3">
      <div class="fs-small text-center text-md-start">
        &copy; Copyright <strong><span>Essar Healthcare</span></strong
        >. All Rights Reserved
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
