<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services py-5">
  <div class="container">
    <div class="row pb-4">
      <h3 class="text-center fs-4">WHAT WE CAN OFFER</h3>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 px-4  pl-0 mb-lg-0">
        <div class="icon-box">
          <div class="icon">
            <img src="assets/img/icon-bed.svg" alt="" />
          </div>
          <h4 class="title">Care Provider</h4>
          <p class="description">
            We believe in providing the best suited carers to individuals, not only based on needs, qualifications and experience, but interests as well.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 px-4 mb-lg-0">
        <div class="icon-box">
          <div class="icon">
            <img src="assets/img/icon-abluance.svg" alt="" />
          </div>
          <h4 class="title">Our Services</h4>
          <p class="description">
            We specialise in working with customers and their families who require care in their own homes. We offer a unique service of personalised care.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 px-4  mb-lg-0">
        <div class="icon-box">
          <div class="icon">
            <img src="assets/img/icon-24.svg" alt="" />
            </div>
          <h4 class="title">24hr Live-in Care</h4>
          <p class="description">
            Essar provides a flexible 24 live-in care service across the UK allowing you the very best lifestyle choices in your own home.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 px-4  mb-lg-0">
        <div class="icon-box">
          <div class="icon">
            <img src="assets/img/icon-nurse.svg" alt="" />
          </div>
          <h4 class="title">Qualified Nurses</h4>
          <p class="description">
            We provide a full range of nursing services for a range of organisations looking for nursing support.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Featured Services Section -->
