<section class="sub-banner d-flex align-items-center">
  <figure class="banner-fig">
    <img
      src="assets/img/banner3.svg"
      alt="Nurse wearing a mask and face shied"
    />
  </figure>
  <section class="position-relative container z-index-1">
    <h1 class="text-light banner-text">About Us</h1>
  </section>
</section>

<section class="container">
  <div class="row py-5">
    <article class="col-md-8">
      <p class="fs-6 ">
        Essar Health Care Ltd are a healthcare professional provider making
        avail professionally qualified and experienced Nurses and other health
        care personals to the required institution/ population across the
        country. We indulge in providing indigenous and customized professional
        care with accurate staff in the health domain.
        <br />  <br />
        We provide temporary and permanent staffing solutions to the major
        health giants/ institutions in the country with utmost professionalism
        and quality.
      </p>
      <h2 class="fs-4">Our Mission</h2>
      <p class="fs-6 ">
        We endure to bring forth Quality and Safety in health care services.
      </p>

      <h2 class="fs-4">Our Values</h2>
      <p class="fs-6 ">
        To make avail qualified professional care across the healthcare sector
        with experienced and dignified health staffs
      </p>
      <p class="fs-6 ">
        We are passionate about providing unparalleled health care service to
        all individuals. We stress on making avail health care extensively to
        even ordinary individuals.
      </p>

      <p class="fs-6 ">
        We are committed to expanding ourselves and our business to cater best
        health care to every individual across the globe
      </p>

    </article>
    <figure class="col-md-4">
      <img src="assets/img/icon-staff.svg" width="80%" alt="" />
    </figure>
  </div>
</section>
