<button mat-icon-button class="close-button" [mat-dialog-close]="true" aria>
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div mat-dialog-title>
  <h2 class="fs-3 pb-2 border-bottom">
    <ng-container *ngIf="data; else JoinUS"> Apply Now </ng-container>
    <ng-template #JoinUS> Refer a friend </ng-template>
  </h2>

  <!-- <p class="fs-6 fw-light">If you need a nurse now, please complete the form below and we’ll get back to you right away:</p> -->
</div>

<mat-dialog-content class="mat-typography">
  <div class="container" novalidate>
    <form
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit(formGroup.value)"
      class="form"
    >
      <mat-card>
        <mat-card-subtitle>Your Details</mat-card-subtitle>
        <mat-card-content>
          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="Your First Name"
                  formControlName="ref_user_firstName"
                  autofocus
                  cdkFocusInitial
                  tabindex="0"
                />
                <mat-error
                  *ngIf="
                    !formGroup.controls['ref_user_firstName'].valid &&
                    formGroup.controls['ref_user_firstName'].touched
                  "
                >
                  {{ titleAlert }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="Your Last Name"
                  formControlName="ref_user_lastName"
                  autofocus
                  cdkFocusInitial
                  tabindex="0"
                />
                <mat-error
                  *ngIf="
                    !formGroup.controls['ref_user_lastName'].valid &&
                    formGroup.controls['ref_user_lastName'].touched
                  "
                >
                  {{ titleAlert }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="Your Email"
                  formControlName="ref_user_email"
                  autofocus
                  cdkFocusInitial
                  tabindex="0"
                />
                <mat-error
                  *ngIf="
                    !formGroup.controls['ref_user_email'].valid &&
                    formGroup.controls['ref_user_email'].touched
                  "
                >
                  {{ getErrorEmail('ref_user_email') }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="Your Phone"
                  formControlName="ref_user_phone"
                  autofocus
                  cdkFocusInitial
                  tabindex="0"
                />
                <mat-error
                  *ngIf="
                    !formGroup.controls['ref_user_phone'].valid &&
                    formGroup.controls['ref_user_phone'].touched
                  "
                >
                  {{ titleAlert }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mt-5">
        <mat-card-subtitle>Candidate Details</mat-card-subtitle>
        <mat-card-content>
          <!-- <div class="row">
            <div class="col-12 col-md-6"></div>
            <div class="col-12 col-md-6"></div>
          </div> -->
          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="First Name"
                  formControlName="cand_user_firstName"
                  autofocus
                  cdkFocusInitial
                  tabindex="0"
                />
                <mat-error
                  *ngIf="
                    !formGroup.controls['cand_user_firstName'].valid &&
                    formGroup.controls['cand_user_firstName'].touched
                  "
                >
                  {{ titleAlert }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="Last Name"
                  formControlName="cand_user_lastName"
                />
                <mat-error
                  *ngIf="
                    !formGroup.controls['cand_user_lastName'].valid &&
                    formGroup.controls['cand_user_lastName'].touched
                  "
                >
                  {{ titleAlert }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="Email address"
                  formControlName="cand_user_email"
                />
                <mat-error
                  *ngIf="
                    !formGroup.controls['cand_user_email'].valid &&
                    formGroup.controls['cand_user_email'].touched
                  "
                >
                  {{ getErrorEmail('cand_user_email') }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="Phone"
                  formControlName="cand_user_phone"
                />
                <mat-error
                  *ngIf="
                    !formGroup.controls['cand_user_phone'].valid &&
                    formGroup.controls['cand_user_phone'].touched
                  "
                >
                  {{ titleAlert }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field class="form-element">
                <mat-label>Location</mat-label>
                <mat-select formControlName="cand_user_location">
                  <mat-option *ngFor="let item of location" [value]="item">{{
                    item
                  }}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    !formGroup.controls['cand_user_location'].valid &&
                    formGroup.controls['cand_user_location'].touched
                  "
                >
                  {{ titleAlert }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="form-element">
                <mat-label>Locum / Permanent</mat-label>
                <mat-select formControlName="cand_user_type">
                  <mat-option
                    *ngFor="let option of contractType"
                    [value]="option"
                    >{{ option }}</mat-option
                  >
                </mat-select>
                <mat-error
                  *ngIf="
                    !formGroup.controls['cand_user_type'].valid &&
                    formGroup.controls['cand_user_type'].touched
                  "
                >
                  {{ titleAlert }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- <div class="form-group">
            <app-file-upload
              formControlName="file"
              [progress]="progress"
            ></app-file-upload>
            <div class="invalid-feedback" style="display: block">
              <mat-error
                *ngIf="
                  !formGroup.controls['file'].valid &&
                  formGroup.controls['file'].touched
                "
              >
                {{ titleAlert }}
              </mat-error>
              <ng-container *ngIf="hasError('image', 'required')">This field is required</ng-container>
          <ng-container *ngIf="hasError('image', 'requiredFileType')">Only PNG 🤡</ng-container>
            </div>
          </div> -->
        </mat-card-content>
      </mat-card>

      <div class="form-element">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="button"
          [disabled]="!formGroup.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
