<section class="sub-banner d-flex align-items-center">
  <figure class="banner-fig">
    <img
      src="assets/img/banner4.svg"
      alt="Nurse wearing a mask and face shied"
    />
  </figure>
  <section class="position-relative container z-index-1">
    <h1 class="text-light banner-text">E-Learning</h1>
  </section>
</section>

<section class="container">
  <div class="row d-flex justify-content-between">
    <div class="col-md-8">
      <p class="fs-6 pt-5 text-justify">
        Healthcare eLearning provide solutions to many challenges, it allows
        healthcare professionals to follow training at their own pace at a time
        and location suits them. eLearning helps us to provide highest quality
        care and upskill our temporary staff with latest healthcare
        developments.
      </p>
      <p class="fs-6 pt-6  text-justify">
        Please create account with following eLearning portals to enhance your
        skills
        <br>

        <a href="https://www.hseland.ie" nofollow>www.hseland.ie</a> <br>
        <a href="https://www.atfsolutions.com/login" nofollow>www.atfsolutions.com</a>
      </p>
    </div>
    <div class="col-md-3 my-3">
      <section class="pb-3">
        <app-join-us-banner></app-join-us-banner>
      </section>
      <!-- <app-need-staff-banner></app-need-staff-banner> -->
    </div>
  </div>
</section>
