
<div class="row">
  <div class="col">
    <h3 class="text-dark mb-2">Need a staff ?</h3>
    <div class="border-bottom mb-2"></div>
    <img
      class="figure-img img-fluid rounded"
      src="assets/img/staff-nurse.svg"
      alt="nurses wearing white mask"
    />
    <p>
      Proud to be one of the leaders in supplying healthcare professionals in the Ireland and around the world.
    </p>
    <div class="d-grid">
      <button mat-raised-button class="" color="primary" (click)="request()">Request Now</button>
    </div>

  </div>
</div>

