<section class="sub-banner d-flex align-items-center">
  <figure class="banner-fig">
    <img
      src="assets/img/banner1.svg"
      alt="Nurse wearing a mask and face shied"
    />
  </figure>
  <section class="position-relative container z-index-1">
    <h1 class="text-light banner-text">Recruitment</h1>
  </section>
</section>

<section class="container">
  <div class="row d-flex justify-content-between">
    <div class="col-md-8 fs-6">
      <p class="pt-5  text-justify">
        Essar healthcare based in Ireland has international network of
        recruitment consultants and candidate database. Our international
        recruitment services can save your cost and retention. We recruit
        qualified and professionally trained health care professionals to meet
        the staffing recruitment of various institutions/ health care
        facilities.
      </p>
      <p class="pb-6 pt-2  text-justify">
        We aim at providing the best healthcare assistants and
        nurses to the population in the country. We indulge in offering the best
        quality personnel. We recruit health care assistants based on the
        requisite with accurate professional qualification, recognised work
        profile and adequate skill sets for the institution/ organisation. We
        stress on figuring out best quality health care professionals to meet
        the staff requisite of the health sector across the globe.
      </p>
    </div>
    <div class="col-md-3 my-3">
      <section class="pb-3">
        <app-join-us-banner></app-join-us-banner>
      </section>
      <!-- <app-need-staff-banner></app-need-staff-banner> -->
    </div>
  </div>
</section>
