<div class="row">
  <div class="col">
    <h3 class="text-dark mb-2">Join Us</h3>
    <div class="border-bottom mb-2"></div>
    <img
      class="figure-img img-fluid rounded"
      src="assets/img/hand-shake.svg"
      alt="Group of hands put together to form a team"
    />
    <p>
      Proud to be one of the leaders in supplying healthcare professionals in the UK and around the world.
    </p>
    <div class="d-grid">
      <button mat-raised-button class="" color="primary" (click)="joinUs()">Join Us</button>
    </div>

  </div>
</div>
